* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	font-family: 'Segoe UI', sans-serif;
	line-height: 1.6;
}

/* Sections */
.sections {
	padding: 3rem 2rem;
	background: #fff;
	text-align: center;
}

.sections h2 {
	margin-bottom: 2rem;
	font-size: 2rem;
	color: #05053a;
}

.container{
  position: relative;
  width: 100%;
  display: flex;
  gap: 10px;
  padding: 100px 2vw;
}

.column{
  flex:1;
  display: flex;
  flex-direction: column;
  gap:10px;
}

.post{
  position: relative;
  overflow: hidden;
  width:100%;
}

img{
  width: 100%;
  border-radius: 5px;
  height: 100%;
}

.overlay{
  position: absolute;
  top:0;
  left: 0;
  width:100%;
  height:100%;
  background:#161616;
  display: flex;
  align-items: center;
  justify-content: center;
  opacity:0;
  transition:0.5s;
  border-radius: 5px;
}

.post:hover .overlay{
  opacity: 0.5;
  cursor: pointer;
}

/* Header */
.header {
	display: flex;
	justify-content: space-between;
	align-items: center;
	background: #222;
	padding: 1rem 2rem;
	color: white;
	position: sticky;
	top: 0;
	z-index: 10;
}

/* .logo {
	font-size: 1.5rem;
	font-weight: bold;
} */

.header img {
	max-width: 200px;
	height: auto;
}

.nav .hamburger {
	display: none;
	cursor: pointer;
}

.nav-links {
	display: flex;
	list-style: none;
}

.nav-links li {
	margin-left: 20px;
}

.nav-links a {
	color: white;
	text-decoration: none;
	transition: color 0.3s;
}

.nav-links hr {
	visibility: hidden;
}

.nav-links a:hover {
	color: rgb(197, 197, 197);
}

/* Footer */
.footer {
	background: #222;
	color: white;
	padding: 2rem 1rem;
	text-align: center;
}

.footer p {
	margin-top: 2rem;
}

.footer span {
	margin-top: 0rem;
}

.contributors {
	display: flex;
	justify-content: space-around;
	flex-wrap: wrap;
	gap: 1rem;
}

.column {
	display: flex;
	flex-direction: column;
	align-items: center;
}

.column p {
	font-size: 1.5rem;
}

.column span {
	margin-bottom: 0.5rem;
	color: rgb(197, 197, 197);
}

.column a {
	color: white;
	margin: 0 5px;
	font-size: 1.2rem;
	transition: color 0.3s ease;
}

.column a:hover {
	color: rgb(197, 197, 197);
}