html, body { 
	width: 100wh;
	height: 100%;
	font-family: 'Segoe UI', sans-serif;
	line-height: 1.6;
	background-color: red;
	color: #333;
	display: flex;
	flex-direction: column;
	justify-content: start;
	align-items: center;
}

.container {
	min-width: 80%;
	background-color: green;
}

h1 { 
	margin-bottom: 2rem;
	font-size: 2rem;
	color: #05053a;
}

li {
	transition: 0.5s ease;
	width: fit-content;
}

li:hover {
	font-weight: 800;
	text-decoration: underline;
	transform: translateX(10px);
}

li a { 
	text-decoration: none;
	color: #05053a;
	font-size: 1.2rem;
}