* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-size: 16px;
	font-family: Arial, Helvetica, sans-serif;
}

body
{
	width: 100vw;
	height: 100dvh;
	background-image: url(imgs/bg.jpg);
	background-position: center;
	background-size: cover;
	background-repeat: no-repeat;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	gap: 5rem;

	& img
	{
		max-width: 80vw;
		height: auto;
	}

	& .home_button
	{
		width: auto;
		height: auto;
		color: rgb(214, 214, 214);
		padding: 20px;
		border-radius: 10px;
		background-color: #131337;
		font-weight: 800;
		font-size: 2rem;
		text-decoration: none;
		text-align: center;
		box-shadow: 0px 0px 0px 0px #53c7ff;
		transition: 0.5s ease;

		&:hover
		{
			box-shadow: 0px 0px 50px 0px #53c7ff;
			transform: translateY(-5px);
		}
	}
}

@media (max-width: 768px)
{
	img
	{
		max-width: 90vw;
	}

	.home_button
	{
		font-size: 1.5rem;
		padding: 15px;
	}
}

@media (max-width: 480px)
{
	body
	{
		gap: 3rem;
	}

	.home_button
	{
		font-size: 1.2rem;
		padding: 12px;
	}
}